*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    background-color: #bba694;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

/* Header */

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    color: #ffffd5;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #9b7239;
    padding: 0 10px;
    font-family: "Lora", serif;
    font-weight: 600;
}

header nav{
    position: relative;
    display: flex;
}

header nav a{
    margin-left: 30px;
    text-decoration: none;
    color: #7a551c;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s;
    font-size: 0.9em;
    text-transform: uppercase;

}

header nav a:hover{
    color: #ffffd5;
}

/* Contenido */

.contenido{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.contenido .contenedor_titulo{
    position: relative;
    max-width: 600px;
}

.contenido .contenedor_titulo h2{
    font-size: 4.5em;
    text-transform: uppercase;
    color: #7a551c;
    line-height: 1.2;
}

.contenido .contenedor_titulo h2 span{
    background-color: #9b7239;
    color: #ffffd5;
    padding: 0 10px;
    font-family: "Lora", serif;
    font-weight: 600;
}

.contenido .contenedor_titulo p{
    font-size: 1.8em;
    line-height: 1.5;
    color: #7a551c;
    font-family: "Lora", serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.contenido .contenedor_titulo a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffd5;
    background-color: #7a551c;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.3s;
}

.contenido .contenedor_titulo a:hover{
    color: #7a551c;
    background-color: #ffffd5;
}